.idea/
.DS_Store

*/*/.terraform
*/*/*.tfstate
*/*/*.tfstate.backup
*/*/terraform.tfvars
*/*/*.tfstate.lock.info

*/.terraform
*/*.tfstate
*/*.tfstate.backup
*/terraform.tfvars
*/*.tfstate.lock.info

mykey
mykey.pub
my_key
my_key.pub

private_ips.txt
